.logo {
  position: absolute;
  text-align: center;
  margin-block-start: -0rem;
}

.logoLink {
  display: flex;
  align-items: center;
  color: #645F6B;
  text-decoration: none;
  cursor: pointer;
}

.logoImage {
  opacity: 0.75;
  width: 58px;
  height: auto;
  margin-left: 10px;
}

.logoText {
  font-weight: bold;
  margin-left: -0.5rem;
}
