section {
  scroll-behavior: smooth;
}

.top {
  left: 0;
  right: 0;
  top: 0;
}

.home-body {
  position: absolute;
  top: 0;
  // z-index: 10;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 50px;
  transform: translateY(-50%);
  box-sizing: border-box;
}

.header-text {
  color: #645f6b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.down-arrow {
  color: #645F6B;
  text-decoration: none;
}
