.image {
  opacity: 0.75;
}

.hi-image {
  width: 150px;
  right: 25rem;
  margin-top: 20rem;
  position: absolute;
}

.reading-image {
  width: 58px;
  height: auto;
  margin-left: 10px;
}

.hanging-image {
  width: 58px;
  height: auto;
  margin-left: 10px;
}

.yoga-image {
  width: 58px;
  height: auto;
  margin-left: 10px;
}

.hangy-image {
  width: 58px;
  height: auto;
  margin-left: 10px;
}

.media-image {
  margin-top: 2rem;
  padding: 8px;
}


