p {
  color: #645f6b;
}

.main {
  width: 100%;
}

.main-bg {
  position: sticky;
  top: calc(-100vh + 64px);
  height: 100vh;
  width: 100%;
  background: linear-gradient(122.29deg,
    #fee6d9 0%,
    #fddad1 33.96%,
    #f2cbcc 55.9%,
    #dac1c6 78.89%,
    #b1afb5 100%,
  );
}

.anchorLink {
  margin-left: 0.5rem;
  text-decoration: none;
  display: inline-block;
  color: #645F6B;
}

.body {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  display: block;
}

.body-content {
  padding-top: 80px;
  padding-bottom: 10px;
}

.header-text {
  padding-bottom: 3rem;
}
