.root {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.anchorLinks {
  float: right;
  cursor: pointer;
  display: block;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.header-link {
  transition: letter-spacing 350ms ease;
  
  &:hover,
  &:active {
    letter-spacing: 5px;
    transition: letter-spacing 350ms ease;
  }
  
  &::after,
  &::before {
    backface-visibility: hidden;
    border: 1px solid rgba(#b1afb5, 0);
    content: " ";
    display: block;
    margin: 4px auto;
    position: relative;
    transition: all 800ms ease;
    width: 0;
  }
  
  &::after {
    bottom: 0;
  }
  &::before {
    top: 0;
  }

  &:hover {
    &::after, &::before {
      border-color: #b1afb5;
      transition: width 350ms ease;
      width: 60%;
    }
  }
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
