.root {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.anchorLinks {
  float: right;
  cursor: pointer;
  display: block;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.header-link:hover,
.header-link:before {
  letter-spacing: 0;
}

.header-link:hover,
.header-link:active {
  letter-spacing: 5px;
  transition: letter-spacing 350ms ease;
}

.header-link:after,
.header-link:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#b1afb5, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 4px auto;
  position: relative;
  transition: all 800ms ease;
  width: 0;
}

.header-link:hover:after,
.header-link:hover:before {
  backface-visibility: hidden;
  border-color: #b1afb5;
  transition: width 350ms ease;
  width: 60%;
}

.header-link:hover:before {
  bottom: auto;
  top: 0;
  width: 60%;
}


.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
